#clockContainer {
  position: relative;
  /* border: 2px solid red; */
  margin: auto;
  height: 40vw;
  width: 40vw;

  background: url(c1.gif) no-repeat;
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background-color: black;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour {
  height: 23%;
  width: 2.5%;
  top: 28%;
  left: 48.1%;
  /* opacity: 0.8; */
}
#minute {
  height: 30%;
  width: 2%;
  top: 21%;
  left: 48.4%;
  /* opacity: 0.8; */
}
#second {
  height: 37%;
  width: 1.5%;
  top: 14%;
  left: 48.6%;
  /* opacity: 0.8; */
}
